body{
	padding: 2%;
	margin: 2%;
}
header{
background-color: yellow;
padding: 2%;
}
nav a{
	display: inline-block;
	margin: 1% 4% 1% 4%;
	border-radius: 15px;
	text-decoration: none;
	padding: 1% 4% 1% 4%;
	background-color: #4F5566;
	opacity: 0.7;
}
.active{
	background-color: #4444F6;
}
section{
	display: inline-block;
	width: 70%;
}
h1{
text-align: center;
color: #992322;
}
h2{
color: #6A6A11;
}

img{
	display: inline-block;
	border: 3px solid #DFFF8B
	float: center;
	margin:20px;
	width: 80%;
}
aside{
	display: inline-block;
	float:left;
	width: 20%;
	background: #22DD44;	
	height:600px;
	padding-top:20px;
}
img{
	border: black solid 2px;
}
table {
	margin-left:auto; 
    margin-right:auto;
    border-spacing: 10px;
    border: 1px solid #22DC44;
    -webkit-border-radius: 25px 25px  25px 25px ;
    border-radius:  25px 25px  25px 25px;
	background-color:rgba(200, 180, 20, 0.2);
}
tr:nth-child(odd) {
    background: rgba(250, 180, 20, 0.6);
}
tr:nth-child(even) {
    background: rgba(250, 230, 20, 0.6);
}

th{
    text-align: center;
	border-style: solid;
	border-width: 1px 1.0px 3px 1px;
	border-color: #22DC44;
    background: rgba(250, 160, 20, 0.9);
	color: rgba(1, 0, 250, 0.9);
	-webkit-border-radius: 15px 15px  0px 0px ;
    border-radius:  15px 15px  0px 0px;
	font-size: 16;
	font-family: Helvetica;
}
td{
    text-align: center; 
	border-style: dashed;
	border-width: 0.5px;
	border-color: #22DC;
	-webkit-border-radius: 5px 5px  0px 0px ;
    border-radius:  5px 5px  0px 0px;
	color: rgba(0, 0, 255, 1);
}
td:first-child{
    text-align: left; 
}
tr:nth-child(odd):hover {
    background: rgba(250, 180, 20, 1);
}
tr:hover:nth-child(even) {
    background: rgba(250, 230, 20, 1);
}
